.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  height: 90vh;
  margin-right: 10px;
  background-color: #F5EBDD;
}
.main-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.slogan {
  width: 90%;
  font-size: 30px;
  margin-bottom: 1rem;
}

.slogan h2 {
  color: #5C4033;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.clinic-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #5C4033;
  font-family: 'Poppins', sans-serif;
}

.clinic-details h3 {
  font-size: 1.5rem;
  color: #F4A300;
  margin-bottom: 0.5rem;
  font-family: 'Poppins', sans-serif;
}

.clinic-details p {
  margin-bottom: 0.5rem;
}

.clinic-details a {
  color: #F4A300;
  text-decoration: none;
}

.clinic-details a:hover {
  text-decoration: underline;
}

.main-right {
  width: 95%;
  height: 85%;
  position: relative;
}

.slider-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 800px;
}

.slider-image:first-child {
  display: block;
}

@media (max-width: 768px) {
  .main-page {
    grid-template-columns: 1fr;
    height: auto;
  }

  .main-left {
    padding: 1.5rem;
  }

  .main-right {
    height: 50vh;
  }

  .slogan {
    font-size: 24px;
  }

  .clinic-details h3 {
    font-size: 1.2rem;
  }

  .clinic-details {
    font-size: 1rem;
  }
}