.review-page {
  display: flex;
  margin: 20px auto;
  max-width: 1200px;
  height: auto;
  font-family: 'Poppins', sans-serif;
}
.review-left {
  width: 250px;
  margin: 20px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.review-left img {
  margin-bottom: 15px;
  width: 60px;
}
.review-left h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}
.review-right {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
}
.review-right > div {
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}
.review-right > div:hover {
  transform: translateY(-5px);
}
.review-1 {
  background-color: #FAEDCB;
}
.review-2 {
  background-color: #C9E4DE;
}
.review-3 {
  background-color: #C6DEF1;
}
.review-4 {
  background-color: #DBCDF0;
}
.review-5 {
  background-color: #F2C6DE;
}
.review-6 {
  background-color: #F7D9C4;
}